<launch>

  <arg name="config" default="omniDir"/> <!--omniDir: if with mecanum wheels, standard: if with standard wheels /-->
  <arg name="robot_config" default="unitree/unitree_g1"/> <!--Robot-specific config file (without .yaml extension)-->
  <arg name="twoWayDrive" default="false"/>
  <arg name="autonomyMode" default="false"/>
  <arg name="joyToSpeedDelay" default="2.0"/>
  <arg name="goalX" default="0.0"/>
  <arg name="goalY" default="0.0"/>
  <arg name="cameraOffsetZ" default="0.0"/>

  <!-- Sensor offset arguments from robot config -->
  <arg name="sensorOffsetX" default="0.0"/>
  <arg name="sensorOffsetY" default="0.0"/>
  <arg name="sensorOffsetZ" default="0.0"/>

  <node pkg="local_planner" exec="localPlanner" name="localPlanner" output="screen">
    <param from="$(find-pkg-share local_planner)/config/$(var config).yaml"/>
    <param from="$(find-pkg-share local_planner)/config/$(var robot_config).yaml"/>
    <param name="pathFolder" value="$(find-pkg-share local_planner)/paths" />
    <param name="twoWayDrive" value="true" />
    <param name="laserVoxelSize" value="0.05" />
    <param name="terrainVoxelSize" value="0.2" />
    <param name="useTerrainAnalysis" value="true" />
    <param name="checkObstacle" value="true" />
    <param name="checkRotObstacle" value="false" />
    <param name="adjacentRange" value="3.5" />
    <param name="obstacleHeightThre" value="0.1" />
    <param name="groundHeightThre" value="0.1" />
    <param name="costHeightThre1" value="0.1" />
    <param name="costHeightThre2" value="0.05" />
    <param name="useCost" value="false" />
    <param name="slowPathNumThre" value="5" />
    <param name="slowGroupNumThre" value="1" />
    <param name="pointPerPathThre" value="2" />
    <param name="minRelZ" value="-0.4" />
    <param name="maxRelZ" value="0.3" />
    <param name="dirWeight" value="0.02" />
    <param name="dirThre" value="90.0" />
    <param name="dirToVehicle" value="false" />
    <param name="pathScale" value="0.875" />
    <param name="minPathScale" value="0.675" />
    <param name="pathScaleStep" value="0.1" />
    <param name="pathScaleBySpeed" value="true" />
    <param name="minPathRange" value="0.8" />
    <param name="pathRangeStep" value="0.6" />
    <param name="pathRangeBySpeed" value="true" />
    <param name="pathCropByGoal" value="true" />
    <param name="autonomyMode" value="$(var autonomyMode)" />
    <param name="joyToSpeedDelay" value="$(var joyToSpeedDelay)" />
    <param name="joyToCheckObstacleDelay" value="5.0" />
    <param name="freezeAng" value="90.0" />
    <param name="freezeTime" value="0.0" />
    <param name="goalX" value="$(var goalX)" />
    <param name="goalY" value="$(var goalY)" />
  </node>

  <node pkg="local_planner" exec="pathFollower" name="pathFollower" output="screen">
    <param from="$(find-pkg-share local_planner)/config/$(var config).yaml"/>
    <param from="$(find-pkg-share local_planner)/config/$(var robot_config).yaml"/>
    <param name="pubSkipNum" value="1" />
    <param name="twoWayDrive" value="$(var twoWayDrive)" />
    <param name="switchTimeThre" value="1.0" />
    <param name="useInclRateToSlow" value="false" />
    <param name="inclRateThre" value="120.0" />
    <param name="slowRate1" value="0.25" />
    <param name="slowRate2" value="0.5" />
    <param name="slowRate3" value="0.75" />
    <param name="slowTime1" value="2.0" />
    <param name="slowTime2" value="2.0" />
    <param name="useInclToStop" value="false" />
    <param name="inclThre" value="45.0" />
    <param name="stopTime" value="5.0" />
    <param name="noRotAtStop" value="false" />
    <param name="noRotAtGoal" value="false" />
    <param name="autonomyMode" value="$(var autonomyMode)" />
    <param name="joyToSpeedDelay" value="$(var joyToSpeedDelay)" />
  </node>

  <!-- Static transform using sensor offsets from launch arguments (should match robot_config file values) -->
  <node pkg="tf2_ros" exec="static_transform_publisher" name="vehicleTransPublisher" args="$(var sensorOffsetX) $(var sensorOffsetY) $(var sensorOffsetZ) 0 0 0 /sensor /vehicle"/>

  <node pkg="tf2_ros" exec="static_transform_publisher" name="sensorTransPublisher" args="0 0 $(var cameraOffsetZ) -1.5707963 0 -1.5707963 /sensor /camera"/>

</launch>
