import os

from launch import LaunchDescription
from launch.actions import DeclareLaunchArgument, OpaqueFunction
from launch.substitutions import LaunchConfiguration
from launch_ros.actions import Node, SetParameter
from ament_index_python.packages import get_package_share_directory

def launch_detection_node(context):
    this_file = os.path.realpath(__file__)
    ros_ws = os.path.abspath(os.path.join(this_file, "../../../.."))

    semantic_mapping_dir = os.path.join(ros_ws, "src", "semantic_mapping", "semantic_mapping")

    detection_node = Node(
        package='semantic_mapping',
        executable='detection_node',
        name='detection_node',
        output='screen',
        parameters=[{
            'config_file': os.path.join(semantic_mapping_dir, 'config', 'mapping_mecanum_real.yaml'),
            'captioner_batch_size': 16,
            'device': 'auto',
            'use_sim_time': LaunchConfiguration('use_sim_time'),
        },
        get_package_share_directory('semantic_mapping')+'/' + "mapping_mecanum_sim" + '.yaml',
        ]
    )
    return [detection_node]


def generate_launch_description():
    use_sim_time = LaunchConfiguration('use_sim_time')

    return LaunchDescription([
        DeclareLaunchArgument(
            'use_sim_time',
            default_value='false',
            description='Use simulation (Gazebo) clock if true'
        ),
        SetParameter(name='use_sim_time', value=use_sim_time),
        OpaqueFunction(function=launch_detection_node)
    ])
